name: Unit tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  Ubuntu:
    runs-on: ubuntu-22.04
    steps:
    - name: Prepare
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          libcppunit-dev \
          libcurl4-openssl-dev
    - uses: actions/checkout@v4
    - name: Run
      run: |
        autoreconf -fiv
        ./configure
        make
        make check

  MacOS:
    needs: Ubuntu
    runs-on: macos-latest
    env:
      TEST_IGNORE_SIGNAL_INTERRUPT_LATENCY: YES
    steps:
      - name: Prepare
        run: |
          brew install \
            automake \
            cppunit \
            curl \
            libtool
      - uses: actions/checkout@v4
      - name: Run
        run: |
          autoreconf -fiv
          ./configure
          make
          make check

  DragonflyBSD:
    if: ${{ false }} # Disabled to reduce GitHub resource usage
    needs: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: vmactions/dragonflybsd-vm@v1
        with:
          prepare: |
            pkg install -y \
              automake \
              autoconf \
              cppunit \
              curl \
              libtool \
              openssl \
              pkgconf
          run: |
            autoreconf -fiv
            ./configure
            make
            make check

  FreeBSD:
    if: ${{ false }} # Disabled to reduce GitHub resource usage
    needs: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: vmactions/freebsd-vm@v1
        with:
          prepare: |
            pkg install -y \
              automake \
              autoconf \
              cppunit \
              curl \
              libtool \
              openssl \
              pkgconf
          run: |
            autoreconf -fiv
            ./configure
            make
            make check

  NetBSD:
    needs: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: vmactions/netbsd-vm@v1
        with:
          prepare: |
            /usr/sbin/pkg_add \
              automake \
              autoconf \
              cppunit \
              curl \
              libtool \
              openssl \
              pkgconf
          run: |
            autoreconf -fiv
            ./configure
            make
            make check

  OpenBSD:
    needs: Ubuntu
    runs-on: ubuntu-latest
    env:
      TEST_IGNORE_SIGNAL_INTERRUPT_LATENCY: YES
      AUTOCONF_VERSION: 2.72
      AUTOMAKE_VERSION: 1.18
    steps:
      - uses: actions/checkout@v4
      - uses: vmactions/openbsd-vm@v1
        with:
          release: "7.8"
          envs: 'TEST_IGNORE_SIGNAL_INTERRUPT_LATENCY AUTOCONF_VERSION AUTOMAKE_VERSION'
          prepare: |
            pkg_add \
              automake-1.18 \
              autoconf-2.72p0 \
              cppunit \
              curl \
              libtool \
              openssl-3.6.0p0v0
          run: |
            ulimit -n 1000
            autoreconf -fiv
            ./configure --disable-mincore
            make
            make check

  OmniOS:
    if: ${{ false }} # Avoid excessive resource usage.
    needs: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: vmactions/omnios-vm@v1
        with:
          prepare: |
            pkg install \
              automake \
              autoconf \
              curl \
              gcc14 \
              libtool \
              openssl \
              pkg-config
          run: |
            autoreconf -fiv
            ./configure
            make
#            make check

  Alpine:
    needs: Ubuntu
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # platform: ['x86_64', 'x86']
        platform: ['x86_64'] # Disabled x86 to reduce GitHub resource usage
    defaults:
      run:
        shell: alpine.sh {0}
    steps:
      - uses: actions/checkout@v4
      - uses: jirutka/setup-alpine@v1
        with:
          branch: edge
          arch: ${{matrix.platform}}
          packages: >
            build-base automake autoconf cppunit-dev curl-dev libtool linux-headers openssl-dev pkgconf zlib-dev
      - name: Compile and Test
        run: |
          autoreconf -fiv
          ./configure
          make
          make check
